@font-face{
font-family: "PT Sans";
font-style: normal;
font-weight: 400;
src: url("../fonts/ptsans-400.woff2") format("woff2");
font-display: swap;
}

@font-face{
font-family: "PT Sans";
font-style: normal;
font-weight: 700;
src: url("../fonts/ptsans-700.woff2") format("woff2");
font-display: swap;
}
body{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight:400;
  line-height:;

}

.adventages-item{
background-color: rgb(142, 193, 239)
}
img
{display: block
}
ul{  list-style-type: none;}

.adventages-item {
  width: 200;
height: 200;
outline: 4px solid green;

background-color: rgb(131,179,211,0.8
);
color: #ffffff;
}

.touirist-item,
.square-item
{ background-color: rgb(131,179,211,0.2
  );
  color: #000000;
  }

.road-item
