@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-list {
  list-style-type: none;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.button-header {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: #756257;
  border-radius: 4px;
}

.hero {
  background: url(../image/decore-saw.svg), url(../image/index-background.jpg);
  background-size: 100%, 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, top center;

}

.welcome {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.second-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.title-promo,
.text-promo,
.adventages-list {
  text-align: center;
  list-style-type: none;
}

.title-promo,
.footer-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.white-title,
.white-text {
  color: #ffffff;
}

.adventages-item {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #82B3D3;
  Width: 400px;
  Height: 385px;

}

.square-item,
.touirist-item {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000;
}

.road-item {
  color: #000;
  background-color: rgba(131, 179, 211, 0.2);
}

.infrastructure {
  text-align: center;

}

.infrastructure-list .home,
.souvenirs {
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}

.infrastructure-list {
  list-style-type: none;
  Width: 400px;
  Height: 385px;
}

.hotel-search {
  text-align: center;
}

.button-hotel-search {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  background-color: #756257;
  border-radius: 4px;
  color: #ffffff;
}

.footer-contacts-block {
  text-align: center;
  color: #ffffff;
  background-image: url("../image/Subscribe.jpg");
  background-size:
}

.newsletter-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  background-color: #83b3d3;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
}

.footer-social-item {
  color: #333333;
}

.footer-contacts-address, .footer-contact-address-phone {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration-line: none;
  font-style: normal;
}


.image-promo {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-block{
  background-image: url(../image/Filtr.png);
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color:#ffffff;
}
.option-in-home, .filter-list{
  list-style-type: none;}

.pagination-links{
  text-decoration-line: none;
  color:#ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  background-color: #82B3D3;
  border-radius: 4px;
  color: #ffffff;
  text-decoration-line: none;
}

.about{
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  background-color: #756257;
  border-radius: 4px;
  color: #ffffff;
  text-decoration-line: none;
}
